<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Railsdash" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex h-screen">
    <aside class="hidden lg:flex flex-col justify-between bg-slate-200 pl-32">
      <div>
        Sidebar top
      </div>
      <div>
        Sidebar bottom
      </div>
    </aside>
    <div class="flex-grow overflow-y-auto">
      <header class="sticky top-0 bg-pink-400 pt-28">
        Header content
      </header>
      <main>
        <%= yield %>
      </main>
      <footer class="block lg:hidden sticky bottom-0 bg-pink-400">
        Footer content
      </footer>
     </div>
  </body>
</html>
